anyascii==0.3.2
apimatic-core==0.2.15
apimatic-core-interfaces==0.1.5
apimatic-requests-client-adapter==0.1.6
asgiref==3.8.1
asttokens==2.4.1
beautifulsoup4==4.12.3
CacheControl==0.12.14
certifi==2024.2.2
charset-normalizer==3.3.2
decorator==5.1.1
defusedxml==0.7.1
Django>=5.1, <5.2
django-filter==23.5
django-formtools==2.5.1
django-modelcluster==6.3
django-otp==1.5.4
django-permissionedforms==0.1
django-phonenumber-field==8.0.0
django-taggit==5.0.1
django-treebeard==4.7.1
django-two-factor-auth==1.17.0
djangorestframework==3.15.1
draftjs-exporter==5.0.0
et-xmlfile==1.1.0
executing==2.1.0
filetype==1.2.0
gunicorn==23.0.0
html5lib==1.1
idna==3.7
ipython==8.28.0
jedi==0.19.1
jsonpickle==3.0.4
jsonpointer==2.4
l18n==2021.3
laces==0.1.1
matplotlib-inline==0.1.7
msgpack==1.1.0
mysqlclient==2.2.6
openpyxl==3.1.2
packaging==24.2
parso==0.8.4
paypal-server-sdk==0.5.1
pexpect==4.9.0
phonenumberslite==8.13.45
pillow==10.3.0
pillow_heif==0.16.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
qrcode==7.4.2
requests==2.31.0
setuptools==75.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
stack-data==0.6.3
telepath==0.3.1
traitlets==5.14.3
typing_extensions==4.12.2
urllib3==2.2.1
wagtail>=6.3, <6.4
wcwidth==0.2.13
webencodings==0.5.1
Willow==1.8.0
