<h2> Booking Confirmation </h2>

<p> {{ email_text }}
    Period: {{ booking.arrival_date }} - {{ booking.departure_date }}
    Rooms: <ul>{% for room in booking.rooms.all %}
        <li>{{ room.room_number }}: {{room.room_type}}</li>{% endfor %}</ul>
    Member in attendance: {{ booking.member_in_attendance.first_name }} {{ booking.member_in_attendance.last_name }}
    Guests:{% for guest in attendees %}<ul>
	<li>{{ guest.first_name }} {{ guest.last_name }}</li>{% endfor %}</ul>
    Cost: {{ booking.cost }}    
</p>
