{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load booking_record_tags %}

{% block content %}
    {% if in_progress_bookings %}
	{{ page.in_progress_text | richtext }}
	<div class="booking-summary-table">
	    <table border=1>
		<thead>
		    <tr>
			<th>Start date</th>
			<th>End date</th>
			<th>Rooms</th>
			<th>Edit Booking</th>
		    </tr>
		</thead>
		<tbody>
		    {% for booking in in_progress_bookings %}
			<tr>
			    {% render_booking_record booking 'IN_PROGRESS' %}
			    <td><a href="{% pageurl page %}edit/{{ booking.pk }}">Edit</a> | <a href='{% pageurl page %}cancel/{{ booking.pk }}'>Cancel</a></td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>
    {% endif %}
    {% if submitted_bookings %}
	{{ page.submitted_text | richtext }}
	<div class="booking-summary-table">
	    <table border=1>
		<thead>
		    <tr>
			<th>Start date</th>
			<th>End date</th>
			<th>Rooms</th>
			<th>Cost</th>
			<th>Member in Attendance</th>
			<th>Guests</th>
			<th>Pay</th>
		    </tr>
		</thead>
		<tbody>
		    {% for booking in submitted_bookings %}
			<tr>
			    {% render_booking_record booking 'SUMMARY' %}
			    <td><a href='{% pageurl page %}pay/{{ booking.pk }}'>Pay</a> | <a href='{% pageurl page %}cancel/{{ booking.pk }}'>Cancel</td>
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>
    {% endif %}
	{% if upcoming_bookings%}
	{{ page.upcoming_text | richtext }}
	<div class="booking-summary-table">
	    <table border=1>
		<thead>
		    <tr>
			<th>Start date</th>
			<th>End date</th>
			<th>Rooms</th>
			<th>Cost</th>
			<th>Member in Attendance</th>
			<th>Guests</th>
		    </tr>
		</thead>
		<tbody>
		    {% for booking in upcoming_bookings %}
			<tr>
			    {% render_booking_record booking 'FULL' %}
			</tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>
    {% endif %}
    {% if not in_progress_bookings and not submitted_bookings and not upcoming_bookings %}

	{{ page.no_bookings_text | richtext }}
	
    {% endif %}
{% endblock %}
