{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    <script src="{% static 'booking/calendar.js' %}"></script>
<div id="calendar_caption">{{ page.caption | richtext }}</div>
    <div id='calendar'></div>
{% endblock %}
