{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load booking_record_tags %}
{% load static %}

{% block content %}
    {% if paid  %}
	{{ page.payment_success_text | richtext }}
    {% else %}
	{{ page.payment_error_text | richtext }}
    {% endif %}
    <div class="booking-summary-table">
	<table border=1>
	    <thead>
		<tr>
		    <th>Start date</th>
		    <th>End date</th>
		    <th>Rooms</th>
		    <th>Cost</th>
		    <th>Member in Attendance</th>
		    <th>Other Attendees</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    {% render_booking_record booking 'FULL' %}
		</tr>
	    </tbody>
	</table>
    </div>
{% endblock %}

