{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load booking_record_tags %}

{% block content %}

    {{ page.edit_text | richtext }}

    <div class='booking-summary-table'>
	<table border=1>
	<thead>
	    <tr>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Rooms</th>
		<th>Cost</th>
	    </tr>
	</thead>
	<tbody>
	    <tr>
		{% render_booking_record booking 'COST_SUMMARY' %}
	    </tr>
	</tbody>
	</table>
    </div>

    <form action="." method="POST">
	{% csrf_token %}
	{% if member_in_attendance_form %}
	    {{ member_in_attendance_form }}
	{% endif %}
	{{ guest_forms.management_form }}
	{% for form in guest_forms %}
	    <div class="form-table">
		<p> Guest {{ forloop.counter }} details:</p>
		<table>
		    {{ form.as_table }}
		</table>
	    </div>
	{% endfor %}
	<input type="submit" value="Submit Booking">
    </form>

{% endblock %}
