{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load booking_record_tags %}
{% load paypal_tags %}
{% load static %}

{% block content %}
    <input type='hidden' id='booking-id' value='{{ booking.id }}'>
    {{ page.pay_text | richtext }}
    <div class="booking-summary-table">
	<table border=1>
	    <thead>
		<tr>
		    <th>Arrival date</th>
		    <th>Departure date</th>
		    <th>Rooms</th>
		    <th>Cost</th>
		    <th>Member in Attendance</th>
		    <th>Other Attendees</th>
		</tr>
	    </thead>
	    <tbody>
		<tr>
		    {% render_booking_record booking 'FULL' %}
		</tr>
	    </tbody>
	</table>
    </div>

    <div id="error-container" style="display:none; color:red;"></div>
    <div id="paypal-button-container">
    <script
        src="https://www.paypal.com/sdk/js?client-id={% paypal_client_id %}&components=buttons&currency=AUD"
    ></script>
    <script src="{% static 'pay/app.js' %}"></script>
    </div>
{% endblock %}
