{% load wagtailcore_tags navigation_tags %}

<header>
    <div class="user-info">
	{% if request.user.is_authenticated %}
	    <h3>Hello {{ request.user.first_name }} {{ request.user.last_name }}</h3>
	    <div class='user-btn'>
	    <form method='get' action='{% url 'password_change' %}'>
		<button type='submit'>Change password</button>
	    </form>
	    </div>
	    <div class='user-btn'>
	    <form method="post" action="{% url 'logout' %}">
		{% csrf_token %}
		<button type="submit">logout</button>
	    </form>
	    </div>
	{% else %}
            <a href="{% url 'login' %}"><button>Log In</button></a>
	{% endif %}
    </div>
</header>
