{% load wagtailcore_tags navigation_tags %}

<div class="sidebar">
<div class="menu">
    {% get_site_root as site_root %}
    <nav>
            {% for menuitem in site_root.get_children.live.in_menu %}
                    {% if menuitem.title == page.title %}
                        <a href="{% pageurl menuitem %}" class="active">{{ menuitem.title }}</a>
                    {% else %}
                        <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    {% endif %}
            {% endfor %}
    </nav>
</div>
</div>
